<main class="text-center">
  <h4 class="text-success m-3">Profile Information</h4>
  <div class="profile-pic">
    <!-- <img src="../assets/user-profile.png" alt="../assets/user-default.png"> -->
    <img [src]="profile_pic" alt="../assets/user-default.png">
    <!-- <img src="../assets/user-default.png" alt=""> -->
    <div class="edit-img">
      <a routerLink="/upload-profile-pic" routerLinkActive="active">
        <i class="fa fa-pencil text-light"></i>
      </a>
    </div>
  </div>
  
  <div *ngIf = "profileData" class="mt-3">
    <h5>{{profileData.first_name + " " + profileData.last_name }} 
      <a routerLink="/update-profile" routerLinkActive="active">
        <i class="fa fa-pencil text-muted"></i>
      </a>
    </h5>
    <p>{{profileData.phone}} </p>
    <p  *ngIf = "auth.user">{{auth.user.email}}</p>
    <p>{{profileData.address}}</p>
  </div>
  <div *ngIf = "!profileData" class="mt-3">
      <a routerLink="/update-profile" routerLinkActive="active">
        Update profile info <i class="fa fa-pencil text-muted"></i>
      </a>
  </div>
</main>
