<div class="container">
  <h5>How Task It works?</h5>
  <p>Sign up for your account using any given social media.</p>
  <p>Construct and enhance your profile.</p>
  <p>Link friends, family, colleague, employee, and etc accounts.</p>
  <p>You can give or ask for a task to - or from your friend.</p>
  <p>If you give the task, then your friend should accept the task.</p>
  <p>If you received the task you can accept the same and start to work on it.</p>
  <p>You can also ask for a task from your friend.</p>
  <p>You can add relevant documents to the task.</p>
  <p>You can give the regular update on the progress of the task.</p>
  <p>Receive regular emails for requests and updates of the task.</p>

  <!--<h5>Whats in future ?</h5>
  <p>Enable sms notificationfor requests and updates of the task.</p>
  <p>You can have 2 person chats.</p>
  <p>Form groups, teams and circles.</p>
  <p>You can have groups, teams, and circles chat.</p>-->
</div>