<header *ngIf='isLoggedIn'>
  <nav class="navbar-light row justify-content-between align-middle mt-2 mb-2">
    <div class=" btn col-sm-0">
      <span class="navbar-toggler-icon btn border-0"></span>
    </div>
    <div class="navbar-brand text-primary text-left col-sm-2">
      T<span class="text-danger">&#60;</span>ask<span class="text-danger">&#62;</span>!t
    </div>
    <div class="row col-sm-6">
        <input class="form-control col-sm-10" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary col-sm-0 ml-2" type="submit">Go</button>
    </div>
    <div class="text-right text-scondary col-sm-3">
      <a class="btn">Post</a>
      <a class="btn">Ask</a>
      <div class="btn" (click)='logout()'>
        
         <img src="../assets/user-profile.png" class="img-profile" alt="Logout">

      </div>
    </div>
  </nav>
  <hr class="m-0">
</header>


<!-- 
    <nav  class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-toggler-icon btn"></div>
    <div class="navbar-brand text-primary align-middle ml-3">
        T<span class="text-danger">&#60;</span>ask<span class="text-danger">&#62;</span>!t
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="nav-item nav-link btn btn-link" (click)='logout()'>Post</div>
        <div class="nav-item nav-link btn btn-link" (click)='logout()'>Ask</div>
        <div class=" nav-item nav-linkbtn btn-link" (click)='logout()'>Logout</div>
      </div>
    </div>
  </nav>
-->
