<header *ngIf='isLoggedIn'>
  <nav class="navbar-light row justify-content-between align-middle mt-2 mb-1">
    <div class=" btn col-sm-0">
      <a class="navbar-toggler-icon btn border-0"></a>
    </div>
    <div class="navbar-brand text-primary text-left col-sm-2">
      <a class="" routerLink="/home">
        T<span class="text-danger">&#60;</span>ask<span class="text-danger">&#62;</span>!t
      </a>
    </div>

    <div class="col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control r-0" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-light r-0" type="button">
              <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="text-right text-scondary col-sm-3">
      <a class="ml-3 mr-2" routerLink="/post" routerLinkActive="active">Post</a>
      <a class="ml-3 mr-2" routerLink="/ask" routerLinkActive="active">Ask</a>
      <span class="dropdown show">
        <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../assets/user-profile.png" class="img-profile" alt="Logout">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#" routerLink="/view-profile" routerLinkActive="active">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" (click)='logout()' routerLink="/cover" routerLinkActive="active">Log Out</a>
        </div>
      </span>
    </div>
  </nav>
  <hr class="m-0">
</header>