<div class="container text-center">
  <P class="text-secondary p-1">Please Login or signup here!</P>

  <button class="btn btn-danger btn-lg btn-block btn-google p-3">
    <span class="fa fa-google"></span>
    Google
  </button>

  <button class="btn btn-info btn-lg btn-block btn-twitter p-3">
    <span class="fa fa-twitter"></span>
    Twitter
  </button>

  <button class="btn btn-primary btn-lg btn-block btn-facebook p-3">
      <span class="fa fa-facebook"></span>
      Facebook
  </button>

  <button class="btn btn-dark btn-lg btn-block btn-github p-3">
    <span class="fa fa-github"></span>
    GitHub
  </button>

  <P class="mt-4 text-secondary">
      New to Task It -&#62; <a href="#">create account</a>.
  </P>
</div>
