<div class="container text-center border mb-3">
  <h4 class="text-secondary mb-4 p-2">Please Login or signup here!</h4>

  <button class="btn btn-danger btn-lg btn-block btn-google mb-3">
    <span class="fa fa-google"></span>
    Google
  </button>

  <button class="btn btn-info btn-lg btn-block btn-twitter mb-3">
    <span class="fa fa-twitter"></span>
    Twitter
  </button>

  <button class="btn btn-primary btn-lg btn-block btn-facebook mb-3">
      <span class="fa fa-facebook"></span>
      Facebook
  </button>

  <button class="btn btn-dark btn-lg btn-block btn-github mb-3">
    <span class="fa fa-github"></span>
    GitHub
  </button>

  <!--<P class="mt-4 text-secondary mt-5">
      New to Task It -&#62; <a href="#">create account</a>.
  </P>-->
</div>
