<div  *ngIf="!getIsSignup()" class="container border mb-2 content">
  <div *ngIf="!getIsLogin()" class="text-center">
    <h4 class="text-success p-2">Please Login or Sign Up!</h4>

    <button (click)="setIsLogin()" class="btn btn-secondary btn-lg btn-block btn-login mb-2">
      <span class="fa fa-login"></span>
      T<span class="text-warning">&#60;</span>ask<span class="text-warning">&#62;</span>!t
    </button>

    <button (click) = "loginWithGoogle()" class="btn btn-danger btn-lg btn-block btn-google mb-2">
      <span class="fa fa-google"></span>
      Google
    </button>

    <button class="btn btn-info btn-lg btn-block btn-twitter mb-2">
      <span class="fa fa-twitter"></span>
      Twitter
    </button>

    <button class="btn btn-primary btn-lg btn-block btn-facebook mb-2">
        <span class="fa fa-facebook"></span>
        Facebook
    </button>

    <button class="btn btn-dark btn-lg btn-block btn-github mb-2">
      <span class="fa fa-github"></span>
      GitHub
    </button>

    <P class="text-secondary mt-3">
          New to Task It -&#62; <a href="#" (click)="setIsSignup()">create account</a>.
    </P>
  </div>

  <div *ngIf="getIsLogin()">
    <button (click)="resetIsLogin()" class="btn btn-link"> &#60;- Back</button>
    <form [formGroup]="loginForm" (ngSubmit)="loginPost(loginForm.value)">
      <h4 class="text-success text-center p-1">Login</h4>

      <div class="form-group">
        <small id="invalidLogin" *ngIf="false" class="form-text text-danger">Invalid login email or password.</small>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" formControlName="login_email" class="form-control" id="email" placeholder="Enter email">
        <small id="emailMand" *ngIf="!loginForm.controls['login_email'].valid && loginForm.controls['login_email'].touched" class="form-text text-danger">Please enter valid email.</small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="login_password" class="form-control" id="password" placeholder="Password">
        <small id="passwordMand" *ngIf="!loginForm.controls['login_password'].valid && loginForm.controls['login_password'].touched" class="form-text text-danger">Please enter a password.</small>
        <small id="passwordHelp" class="form-text text-primary">Forgot Password</small>
      </div>

      <!--<div class="form-check">
        <input type="checkbox" class="form-check-input" id="check">
        <label class="form-check-label" for="check">Keep me loged in</label>
      </div>-->

      <button class="btn btn-primary btn-lg btn-block mt-3 mb-3" [disabled]="!loginForm.valid">
          login
      </button>

      <P class="text-secondary text-center mt-2">
          New to Task It -&#62; <a href="#" (click)="setIsSignup()">create account</a>.
    </P>
    </form>
  </div>
</div>

<div *ngIf="getIsSignup()" class="container border mb-2 content">
    <button (click)="resetIsSignup()" class="btn btn-link"> &#60;- Back</button>
    <form [formGroup]="signupForm" (ngSubmit)="signupPost(signupForm.value)">
      <h4 class="text-success text-center p-1">Sign Up</h4>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" formControlName="signup_email"  class="form-control" id="email" placeholder="Enter email">
        <small id="emailMand" *ngIf="!signupForm.controls['signup_email'].valid && signupForm.controls['signup_email'].touched" class="form-text text-danger">Please enter valid email.</small>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="signup_password" class="form-control" id="password" placeholder="Password">
        <small id="passwordMand" *ngIf="!signupForm.controls['signup_password'].valid && signupForm.controls['signup_password'].touched" class="form-text text-danger">Please enter a password.</small>
      </div>

      <div class="form-group">
        <input type="password" formControlName="confirm_password" class="form-control" id="confirm-password" placeholder="Confirm Password">
        <small id="passwordMand" *ngIf="!signupForm.controls['confirm_password'].valid && signupForm.controls['confirm_password'].touched" class="form-text text-danger">Please enter a password.</small>
        <small id="passwordMisMatch" *ngIf="false" class="form-text text-danger">Password and confirm password mismatch.</small>
      </div>
      
      <button class="btn btn-primary btn-lg btn-block mt-3 mb-3" [disabled]="!signupForm.valid">
          Sign Up
      </button>
    </form>
  </div>