.task{
    min-height: 700px !important;
}

.task-list{
    border-left: 1px solid lightgray;
    min-width: 35% !important;
    min-height: 650px !important;
}

.task-main{  
    min-width: 65% !important;
    min-height: 100% !important;
}