<mat-card class="m-auto" style="width:400px">
  <div class="d-flex flex-row no-wrap">
    <div class="p-2">
      <img src="../assets/cute-profile-pic.png" class="img-profile" alt="../assets/user-default.png">
    </div>
    <div class="p-2">
      <h6 class="card-h">Card subject here welcom...</h6>
      <div>mm/dd/2018</div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between no-wrap">
    <div class="p-2">Assigned</div>
    <div class="p-2">Days Remaining</div>
  </div>
</mat-card>