/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.r-0{
    border-radius: 0 !important;
}

main{
    min-height: 600px;
    margin-top: 60px;
}