<main>
    <div class="d-flex flex-row flex-wrap justify-content-center">  
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
        <app-task-card></app-task-card>
    </div>
</main>

