.home-list{
    min-width: 35% !important;
    min-height: 100% !important;
    background-color: red; 
}

.home-main{
    min-width: 65% !important;
    min-height: 100% !important;
    background-color: yellow; 
}