<main>
    <form class="form-content" [formGroup]="updateProfileForm" (ngSubmit)="updateProfile(updateProfileForm.value)">
      <h4 class="text-success text-center mt-3">Update your profile</h4>
      <div class="form-group">
        <label for="first_name">First Name*</label>
        <input type="text" formControlName="first_name" class="form-control" id="first_name" placeholder="Enter your first name">
        <small id="first_name" *ngIf="!updateProfileForm.controls['first_name'].valid && updateProfileForm.controls['first_name'].touched" class="form-text text-danger pull-right">Please enter a first name.</small>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name*</label>
        <input type="text" formControlName="last_name" class="form-control" id="last_name" placeholder="Enter your last name">
        <small id="last_name" *ngIf="!updateProfileForm.controls['last_name'].valid && updateProfileForm.controls['last_name'].touched" class="form-text text-danger pull-right">Please enter a last name.</small>
      </div>
      <div class="form-group">
        <label for="phone">Phone*</label>
        <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Enter your phone number">
        <small id="phone" *ngIf="!updateProfileForm.controls['phone'].valid && updateProfileForm.controls['phone'].touched" class="form-text text-danger pull-right">Please enter a phone number.</small>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName="address" class="form-control" id="address" placeholder="Enter your address">
        <small id="address" *ngIf="!updateProfileForm.controls['address'].valid && updateProfileForm.controls['address'].touched" class="form-text text-danger pull-right">Please enter a address.</small>
      </div>

      <button class="btn btn-primary btn-lg btn-block mt-4 mb-3 form-btn" [disabled]="!updateProfileForm.valid">
        Update Profile
      </button>
    </form>
  </main>



  <!-- <div class="form-group">
      <label for="">Street</label>
      <input type="text" formControlName="street" class="form-control" id="street" placeholder="Enter your street">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" formControlName="city" class="form-control" id="city" placeholder="Enter your city">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" formControlName="state" class="form-control" id="state" placeholder="Enter your state">
    </div>  -->